# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDEs
.idea/

# OS Files
ehthumbs.db